  body {
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: normal;
  }

    * {
    box-sizing: border-box;
  }

/* Bắt đầu bản mobile <= 767px */
   strong, nav, p, span {
     font-size: 1rem;
   }
   
   img {
     width: 100%;
   }
     
   .custom-toggler .navbar-toggler {
     border-color: none;
   }
   
   .custom-toggler .navbar-toggler-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }
   
   #menu-home, #website {
     color: rgb(255, 180, 27);
   }
   
   .navbar-nav a {
     color: rgb(172, 69, 10);
   }
   
   #navbarTogglerMenu {
     width: 20px;
   }
   
   #menu-crevea {
    color: DodgerBlue;
    margin: auto;
    position: absolute;
    left: 37.5%;
    top: 5.5px;
    font-weight: bold;
  }
   
  #menu-search-icon {
    color: black;
    position: absolute;
    top: 15px;
    right: 7.5%;
  }
   
   .contact-container, .footer-row {
     padding-left: 5%;
     padding-right: 5%;
   }
   
   .contact-info-container p, span {
     font-size: 15px;
   }
   
   #contact-info, #contact-us {
     font-size: 2rem;
   }
   
   #form-container {
     position: relative;
   }
   
   .contact-text {
     padding-top: 40px;
     padding-bottom: 20px;
   }
   
   .head-text {
     font-size: 2rem;
     font-weight: bold;
     text-align: center;
   }
   
   .contact-line {
     border-bottom: 4px solid DodgerBlue;
     width: 35px;
     margin: auto;
   }
   
   .bold {
     font-weight: bold;
   }
   
   .contact-form label {
     line-height: 2;
     font-weight: bold;
     font-size: 16px;
     padding-bottom: 10px;
   }
   
   .contact-form .input-fields {
     width: calc(65% - 15px);
     margin-left: 30px;
     line-height: 2;
     position: absolute;
     right: 0;
     resize: none;
     border-radius: 9px;
   }
   
   ul {
     padding-left: 0px;
   }
   
   #send-btn {
     position: relative;
     margin-top: 30px;
     margin-bottom: 100px;
   }
   
   #send-button {
     background-color: #ffc107;
     color: white;
     border-radius: 5%;
     border: 2px solid #ffc107;
     font-size: 13px;
     height: 30px;
     width: 25%;
     position: absolute;
     right: 18%;
     top: 5px;
   }
   
   #map-img-container {
     position: relative;
     height: 210px;
     margin-bottom: 60px;
   }
   
   #map-img {
     height: 100%;
     position: absolute;
   }
   
   #map-note-container {
     position: absolute;
     top: 5px;
     left: 5px;
     width: 60%;
     background-color: white;
     padding-left: 5px;
   }
   
   #hqv {
     margin-bottom: 0;
     font-weight: bold;
   }
   
   #star {
     position: absolute;
     top: 10px;
     left: 200px;
     color: DodgerBlue;
   }
   
   #plus, #minus {
     position: absolute;
     right: 10px;
     width: 30px;
     height: 30px;
     text-align: center;
     background: white;
     font-weight: normal;
     color:#888;
     font-size: 16px;
     border: .5px solid silver;
   }
   
   #plus {
     bottom: 50px;
   }
   
   #minus {
     bottom: 20px;
   }
   
   footer {
     background-color: black;
     margin-top: 5px;
   }
   
   .footer-row {
     padding-top: 30px;
     padding-bottom: 15px;
   }
   
   .footer-info-container {
     position: relative;
     font-size: 15px;
   }
   
   .footer-info-container strong {
     font-size: 1.25rem;
   }
   
   .footer-info-container span {
     font-weight: bold;
   }
   
   .footer-info-container p {
     margin-top: 10px;
     margin-bottom: 0;
     position: relative;
   }
   
   .footer-info-container .address,
   .footer-category,
   .footer-language,
   .footer-get-our-news {
     float: left;
     color: #D9D9D9;
     padding-top: 10px;
   }
   
   .address p {
     font-size: 15px;
   }
   
   .list {
     padding-left: 0px;
     padding-top: 10px;
     list-style: none;
   }
   
   .li-category a {
     color: #D9D9D9;
     text-decoration: none;
   }
   
   #our-news {
     margin-right: 0;
   }
   
   #footer-input-email {
     color: grey;
     background: none;
     border: none;
     padding-top: 10px;
   }
   
   .footer-get-our-new {
     border-bottom: 1px solid silver;
     position: relative;
   }
   
   #footer-copy-rights {
     border-top: 1px solid silver;
     text-align: center;
     color: #D9D9D9;
     font-size: 10px;
   }
   
   #copyright-line {
     padding-top: 5px;
     padding-bottom: 10px;
   }
   
   #submit {
     position: absolute;
     right: 22px;
     margin-top: 5px;
     border-radius: 5%;
     border: 1px solid silver;
   }
   
   #input-email-container {
     border-bottom: 1px solid silver;
   }
   /* Kết thúc bản mobile */

   /* Bắt đầu bản tablet (cỡ mản hình >=768px) */
   @media (min-width: 768px) {
     body {
       padding: 30px 30px;
     }
   
     strong {
       font-size: 1.2rem;
     }
   
     #menu-bar {
      background-color: DodgerBlue;
      height: 65px;
      margin-top: -15px;
    }
   
    #menu-crevea {
      padding-left: 7.5%;
      color: white;
      font-size: 1.5rem;
      position: absolute;
      left: 0;
      margin-top: 5px;
    }
   
     #menu-search-icon,
     .navbar-nav a {
       color: #D9D9D9;
     }
   
     #search {
       padding-left: 10px;
     }
   
     #menu-search-icon {
       position: absolute;
       top: 22px;
       font-size: 14px;
       right: 2.5%;
     }
   
     .contact-us, .footer-row {
       padding-left: 7.5%;
       padding-right: 7.5%;
     }
   
     #map-note-container {
       width: 40%;
     }
   
     #star {
       position: absolute;
       top: 10px;
       left: 250px;
       color: DodgerBlue;
     }

     #submit {
      margin-right: 36px;
    }
     
     #footer-copy-rights {
       margin-top: 10px;
     }
   }
   /* Kết thúc bản tablet */
   
   /* Bắt đầu bản laptop */
   @media(min-width: 992px) {
     .contact-container {
       padding-left: 20%;
       padding-right: 20%;
     }
   
     strong {
       font-size: 1.5rem;
     }
   
     #menu-crevea {
      padding-left: 20%;
      top: 10px;
    }
   
     #menu-search-icon {
       position: relative;
       top: 0px;
     }

     #send-button {
       width: 30%;
     }

     #map-note-container {
       width: 15%;
       height: 50px;
     }
   
     #hqv, #star, #big-map-link, #plus, #minus {
       display: none;
     }

     #submit {
      margin-right: 3.3%;
      padding-top: 4px;
    }
   }
   